$title: #111111;
$accent-color: #0075bf;
$color-section: #002855;
$color-link: #444343;
$color-white: #f9f6f6;
$color-text: #636363;


%inter-700 {
  font-family: 'Inter-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
}


%inter-black {
  font-family: 'Inter-Black', sans-serif;
  font-weight: 900;
  font-style: normal;
}


%inter-800 {
  font-family: 'Inter-ExtraBold', sans-serif;
  font-weight: 800;
  font-style: normal;
}

%libre-400 {
  font-family: 'LibreBaskerville-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%libre-700 {
  font-family: 'LibreBaskerville-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
}